body{
  margin: 0px;
  padding: 0px;
  background-color: rgb(140, 140, 193);
}

h1{
  margin-top: 500px;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
}

p{
  justify-content: center;
  text-align:center;
  font-size: 1.5rem;
}

footer{
  bottom:0%;
  position: fixed;
  font-size: small;
}
