body{
  background-color: #FCEBB6;
  font-family: Tahoma, Arial, sans-serif;
  color: #221811;
}

/*ID WRAPPER ADD TO WHAT EXACTLY???/*/
main{
  background-color:#FEFAEB;
  /*80% WIDTH TO WHAT???*/
  margin-right: auto;
  margin-left: auto;
}

header{
  color: #8C3826;
  background-color: #D2B48C;
  text-align: center;
}

h1{
  line-height: 200%;
  /*font-family: Lobster;*/
}

h2{
  color: #8C3826;
}

nav{
  text-align: center;
  font-weight: 800;
}

footer{
  background-color: #D2B48C;
  font-size: .60em;
  text-align: center;
  font-style:italic;
}

a:hover{
  text-decoration: none;
  color: #8C3826;
  font-weight: 700;
}

