

#description {
  font-family: 'Courier New';
}
#names{
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#myName{
font-family: Cambria;
}
header {
  border: 8px double black;
  display: flex;
  margin: 20 auto;
  background: lavender;
}
body {
  background: pink;
  border: 8px dotted whitesmoke;
 
}

footer{
  background-color: plum;
  color:antiquewhite
}

/*for all links: changes the background color to black and color of the font to plum*/
a:hover{
  background-color: black;
  color: plum;
}

/*getting rid of all underlines on links*/
a:link{
  text-decoration: none;
}